.main-profile-container {
    background-color: rgba(255, 255, 255, 0.53);
}
.profile-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2, h3 {
    font-family: 'MADE Soulmaze', sans-serif;
}
h4, label, button, .p-inputtext, input:-webkit-autofill {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-weight: 400;
    font-size: 20px;
    padding-left: 23px;
}
h3 {
    font-weight: 400;
    font-size: 24px;
}
h4 {
    font-weight: 700;
    font-size: 20px;
}
label {
    font-weight: 400;
    font-size: 14px;
}
button {
    font-weight: 700;
    font-size: 16px;
}
.title-container {
    background-color: #5C4092;
}
.center-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitle-container {
    align-self: flex-start;
}
.p-inputtext {
    background: transparent !important;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px !important;
    border-color: black !important;
    border-radius: 0;
    color: #343A40;
}
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #495057;
}

@media(min-width: 768px) {
    .main-profile-container {
        background: linear-gradient(0deg, rgba(234,84,147,1) 0%, rgba(92,64,146,1) 100%);
    }
    .title-container {
        background-color: transparent;
    }
    .profile-container {
        background-color: rgba(255, 255, 255, 0.53);
        min-height: 94vh;
    }
}

@media(min-width: 992px) {
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
    }
    label {
        font-size: 17px;
    }
    .button-container {
        align-self: flex-end;
    }
    .center-container {
        width: 90%;
    }
    .form-part-container {
        padding-right: 10%;
    }
}