<div class="flex-1 bg-teal-50 flex items-center justify-around pt-4">
    <div class="w-48 h-28 flex-shrink-0 rounded-lg bg-white flex flex-col pt-3">
        <span class="text-purple-700 font-roboto font-semibold text-5xl leading-tight pl-3">200</span>
        <span class="text-pink-500 font-roboto font-bold text-sm pl-3">Total clientes</span>
    </div>
    <div class="w-48 h-28 flex-shrink-0 rounded-lg bg-white flex flex-col pt-3">
        <span class="text-purple-700 font-roboto font-semibold text-5xl leading-tight pl-3">15</span>
        <span class="text-pink-500 font-roboto font-bold text-sm pl-3">Total promos activas</span>
    </div>
    <div class="w-48 h-28 flex-shrink-0 rounded-lg bg-white flex flex-col pt-3">
        <span class="text-purple-700 font-roboto font-semibold text-5xl leading-tight pl-3">1000</span>
        <span class="text-pink-500 font-roboto font-bold text-sm pl-3">Total puntos canjeados el último mes</span>
    </div>
    <div class="w-48 h-28 flex-shrink-0 rounded-lg bg-white flex flex-col pt-3">
        <span class="text-purple-700 font-roboto font-semibold text-5xl leading-tight pl-3">300</span>
        <span class="text-pink-500 font-roboto font-bold text-sm pl-3">Total puntos canjeados la última semana</span>
    </div>            
</div>
