<div class="flex-1 bg-teal-50 flex items-center justify-around pt-4">
    <div class="w-48 h-28 flex-shrink-0 rounded-lg bg-white flex flex-col pt-3">
        <span class="text-purple-700 font-roboto font-semibold text-5xl leading-tight pl-3">{{users}}</span>
        <span class="text-pink-500 font-roboto font-bold text-sm pl-3">Total clientes asociados a mi bar</span>
    </div>
    <div class="w-48 h-28 flex-shrink-0 rounded-lg bg-white flex flex-col pt-3">
        <span class="text-purple-700 font-roboto font-semibold text-5xl leading-tight pl-3">{{benefitCreated}}</span>
        <span class="text-pink-500 font-roboto font-bold text-sm pl-3">Total promos creadas hasta el momento</span>
    </div>
    <div class="w-48 h-28 flex-shrink-0 rounded-lg bg-white flex flex-col pt-3">
        <span class="text-purple-700 font-roboto font-semibold text-5xl leading-tight pl-3">{{userPointsLastWeek}}</span>
        <span class="text-pink-500 font-roboto font-bold text-sm pl-3">Total puntos otorgados en el último mes</span>
    </div>
    <div class="w-48 h-28 flex-shrink-0 rounded-lg bg-white flex flex-col pt-3">
        <span class="text-purple-700 font-roboto font-semibold text-5xl leading-tight pl-3">{{userPointsLastWeek}}</span>
        <span class="text-pink-500 font-roboto font-bold text-sm pl-3">Total puntos otorgados en la última semana</span>
    </div>
</div>
