<footer>
    <div class="footer-container">
        <div class="logo-container">
            <img src="/assets/logo-mobile.png" alt="">
        </div>
        <hr>
        <div class="social-container">
            <div class="social">
                <div class="text">
                    <span>Seguinos en redes</span>
                </div>
                <div class="icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>