<div class="bg-blue-50 w-full h-96 z-10">
    <div class="flex align-items-center justify-content-between h-40 w-full bg-blue-50 py-4">
        <span class="text-black font-bold text-2xl ml-6">DASHBOARD</span>
        <div class="mr-4">
            <p-button class="mr-2" label="Subir Menú"></p-button>
            <p-button icon="pi pi-refresh"></p-button>
        </div>
    </div>
    <div class="flex justify-between mx-2 pt-2 pb-6">
        <app-dashlet [points]="200" description="Total clientes"></app-dashlet>
        <app-dashlet [points]="15" description="Total promos activas"></app-dashlet>
        <app-dashlet [points]="1000" description="Total puntos canjeados el último mes"></app-dashlet>
        <app-dashlet [points]="300" description="Total puntos canjeados la última semana"></app-dashlet>
    </div>
</div>