<div class="">
    <!-- Elemento para dispositivos móviles y tabletas -->
    <div class="card flex justify-content-between m-4 mt-4 md:hidden">
        <app-logo></app-logo>
        <app-hamburger-menu></app-hamburger-menu>
    </div>
    <app-nav-bar></app-nav-bar>
    <app-user></app-user>
    <h2 class="title md:ml-7">DESTACADAS</h2>
    <app-benefit-slider [businessId]="businessId"></app-benefit-slider>
    <app-benefit-list [businessId]="businessId"></app-benefit-list>
    <app-footer></app-footer>
</div>