.backgroundUserPoints {
    position: relative;
    background-image: url('../../../assets/img/backgroundUserPoints.jpg');
    background-size: cover;
    height: 160px;
    margin: auto;
    width: 80%;
    color: #fff;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 29, 30, 0.7);
}

.center-contents {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -50px;
}

.points {
    font-family: 'Roboto';
    font-size: 94.143px;
    font-weight: 800;
    height: 0px;
}

.text {
    font-family: 'Roboto';
    font-size: 24.816px;
    font-style: normal;
    font-weight: 500;
    height: 0px;
    margin-top: 0px;
}

.helloUser {
    margin: auto;
    width: 380px;
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 22px;
}

/* Media query para tabletas (ancho mínimo de 768px hasta 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .backgroundUserPoints {
        width: 80%;
        font-size: 18px;
        height: 300px;
    }

    .points {
        font-size: 94.143px;
    }

    .text {
        font-size: 24.816px;
    }

    .helloUser {
        width: 380px;
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
}

/* Media query para escritorio (ancho mínimo de 1024px) */
@media (min-width: 1024px) {
    .backgroundUserPoints {
        width: 80%;
        font-size: 20px;
        height: 300px;
    }

    .points {
        font-size: 100px;
    }

    .text {
        font-size: 26px;
    }

    .helloUser {
        width: 600px;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
}