.button-nav-desktop {
    font-family: 'MADE Soulmaze', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.button-nav-desktop:hover {
    color: rgb(230,31,133) !important;
}

@media (min-width: 1024px) {
    .button-nav-desktop {
        font-size: 18px;
    }
}