/* .mi-boton {
    background-color: transparent;
    border: none !important;
    outline: none !important;
}

.mi-boton:focus {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
} */
  