<div class="table-container">
    <p-table 
        [value]="benefits"  
        dataKey="code" 
        [rows]="6"
        [paginator]="true"
        class="px-10"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                PROMOS
                <div>
                    <!-- Create Benefit --> 
                    <app-benefit-popup [businessId]="businessId"></app-benefit-popup>
                    <p-button icon="pi pi-refresh" (onClick)="reloadBenefits()"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Título</th>
                <th>Imagen</th>
                <th>Descripción</th>
                <th>Puntos</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-benefits>
            <tr class="text-xl mx-10 h-[8rem]">
                <td>{{benefits.benefitname}}</td>
                <td>
                    <img [src]="getImagenUrl(benefits.img)" class="w-20 shadow-4">
                </td>
                <td>{{benefits.description}}</td>
                <td class="whitespace-nowrap"><span class="text-pink-600 font-normal">{{benefits.points_req}}</span> puntos</td>
                <td>
                    <div class="flex">
                        <!-- Edit Benefit -->
                        <app-benefit-popup-edit 
                            [benefitId]="benefits.id"
                            [title]="benefits.benefitname"
                            [description]="benefits.description"
                            [image]="benefits.img"
                            [discount]="benefits.discount"
                            [points]="benefits.points_req"
                        ></app-benefit-popup-edit>
                        <!-- Delete Benefit -->
                        <app-benefit-popup-delete [benefitId]="benefits.id"></app-benefit-popup-delete>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>