<div class="pt-4">
    <p-table 
        [value]="promotions"  
        dataKey="code" 
        [rows]="10"
        [paginator]="true"
        class="px-10"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                PROMOS
                <div>
                    <p-button class="mr-2" label="Agregar Promo"></p-button>
                    <p-button icon="pi pi-refresh"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Título</th>
                <th>Imagen</th>
                <th>Descripción</th>
                <th>Puntos</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-promotions>
            <tr class="text-xl mx-10">
                <td>{{promotions.title}}</td>
                <td><img src="../../../assets/img/Rectangle 7.png" width="100" class="shadow-4" /></td>
                <td>{{promotions.description}}</td>
                <td><span class="text-pink-600 font-normal">{{promotions.points}}</span> puntos</td>
                <td>
                    <div class="flex">
                        <div class="flex items-center justify-center rounded-md w-5 h-8 border-2 border-gray-300 hover:bg-pink-400 hover:border-white custom-icon-container">
                            <i class="pi pi-pencil text-gray-700 cursor-pointer"></i>
                        </div>
                        <div class="flex items-center justify-center rounded-md w-5 h-8 border-2 border-gray-300 ml-1 hover:bg-pink-400 hover:border-white custom-icon-container">
                            <i class="pi pi-trash text-gray-700 cursor-pointer"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>