.cardContainer {
    display: flex;
    margin: auto;
    width: 380px;
    color: black;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 25px;
}

.listContainer {
    color: black;
    padding: 15px;
    margin: auto;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 8px;
}

.image-container {
    height: 122px;
    width: 40%;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardText {
    flex: 1;
    max-height: auto;
    padding: 7px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    padding-top: 0px;;
}

.title {
    margin: 0px;
    margin-bottom: 7px;
    padding: 0px;
    color: black;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
}

.points-req {
    margin-right: 20px;
    display: flex;
    justify-content: end;
    align-self: flex-end;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'MADE Soulmaze';
    font-size: 14.847px;
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.line {
    border: 1px solid black;
}

.columCard {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;    
}