.custom-rounded-div {
    color: #fff; /* Texto en blanco */
    border-radius: 10px; /* Radio de esquinas redondeadas (ajusta según sea necesario) */
    padding: 1rem; /* Espacio interno (ajusta según sea necesario) */
}
.isotipo {
    width: 50px;
}
.logo {
    width: 150px;
}