.cardContainer {
    margin: auto;
    width: 300px;
    background-color: rgb(65, 65, 65);
    color: white;
    overflow: hidden;
    border-radius: 4%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.image-container {
    height: auto;
}

.cover-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.cardText {
    max-height: auto;
    padding: 7px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 14px;
}

.title {
    margin: 0px;
    margin-bottom: 7px;
    padding: 0px;
    color: var(--base-white, #FFF);
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
}

.points-req {
    margin-right: 20px;
    display: flex;
    justify-content: end;
    font-weight: 300;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'MADE Soulmaze';
    font-size: 22.847px;
    font-style: normal;
    font-weight: 400;
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
}

