<p-carousel [value]="benefits" [numVisible]="1" [numScroll]="1" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="benefit" let-benefit>
        <div class="cardContainer">
            <div class="image-container">
                <img [src]="getImagenUrl(benefit.img)" class="cover-image" alt="">
            </div>
            <div class="cardText">
                <p class="title">{{benefit.benefitname}}</p>
                <p class="description">{{benefit.description}}</p>
                <p class="points-req">{{benefit.points_req}}.</p>
            </div>
        </div>
    </ng-template>
</p-carousel>
