<p-table 
    [value]="customers"  
    [(selection)]="selectedCustomers" 
    dataKey="code" 
    [tableStyle]="{'min-width': '60rem'}"
    [rows]="10"
    [paginator]="true"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            CLIENTES
            <p-button icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Nombre y Apellido</th>
            <th>Información</th>
            <th>Puntos</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customers>
        <tr class="text-xl">
            <td>
                <p-tableCheckbox [value]="customers"></p-tableCheckbox>
            </td>
            <td>{{customers.name}}</td>
            <td>{{customers.information}}</td>
            <td><span class="text-pink-600 font-normal">{{customers.points}}</span> puntos</td>
            <td>Acciones</td>
        </tr>
    </ng-template>
</p-table>